.App {
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   font-size: small;
   display: flex;
   flex-direction:column;
   align-items:flex-start;
   justify-content:flex-start;
}
.unorderedList {
   list-style-type: none;
   padding: 0;
   margin-bottom: 3em;
   display: flex;
   flex-direction: row;
 }
 
 .listItem {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
   width: 15vw;
   height: 15vh;
   background-color: #fcff4f;
   padding: 1em;
   margin: 5px;
   font-weight: 500;
   border-radius: 5%;
 }
 .listItem:hover {
   background-color: #262623c9;
   color: beige;
 }
 
 .listItemimg {
   width: 50%;
   object-fit: cover;
   margin: 15px;
 }
 