body {
  font-family: serif;
  margin-bottom: 15em;
  background-image: url("../public/1174.webp");
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

li {
  padding-left: 20px;
}